
<div class="hero-unit">


	<div ng-controller="MainCtrl">
	<tjs-model-viewer assimp-url="assimpModelUrl"><canvas id="test" width="1070" height="0"></tjs-model-viewer>
		<div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>
		<div class="controlpanel">
		<div class="instructionText">
		<p> Select Two Countries to Convert Currency</p>
		 </div>

		    <!--<p>Click/drag to rotate. Mouse wheel to zoom.</p>
		    <p>Press the "up" arrow to add a random octahedron!</p>
		    <p>Mouse-over faces to highlight, click to select.</p>-->
		<!-- <div class="form-group">

		        <div class="input-group clockpicker">

		        </div>

		    </div> -->
		<div class="currencyBoxes">
		    <div class="confirmpanel"><p>Confirm Conversion?</p></div>
		    <div class="userpanel"><p>{{currency_a}}</p></div>

		     <div class="userpanel"><p>{{currency_b}}</p></div>
		     </div>
		</div>

		</div>
	<!--
	<button ng-click="changeModel()">change model</button>
	<input ng-model="assimpModelUrl"></input>
	-->
</div>
